/* This CSS file forms part of Web Design 1 (DIG22) Assignment 3 by Karsten Beck (21272000) at  Curtin University.

It contains all relevant animation styling for CSS and JavaScript */


/* START Animations */

/* Upon loading the page we animate the left and right angle to appear as they are moving from the center of the image
   outwards. */
@keyframes animLeftAngle {
    0% {
        left : 50%;
    }
    100% {
        left : 12%;
    }
}

@keyframes animRightAngle {
    0% {
        right : 50%;
    }
    100% {
        right : 10%;
    }
}

/* We also animate the tag line to move from the top to its final position on the page.  */
@keyframes slogan {
    0% {
        top : 0;
    }
    100% {
        top : 49%;
    }
}

/*  At 730px width we have to adjust the distance the tag line can travel. */
@media  screen and (max-width: 730px){
    @keyframes slogan {
        0% {
            top : 0;
        }
        100% {
            top : 49%;
        }
    }
    
}

/* The "Explore" and teaser texts get animated to move in from the left.  */
@keyframes animHeading {
    0% {
        margin-left : -100px;
    }
    100% {
        left : 80px
    }
}

@keyframes animTeaser {
    from {
        color : transparent;
    }
    to {
        color : black
    }
}

/* The following are styles that get added by JavaScript to animate content at certain scroll positions */

/* We reveal the product items slightly sliding in from the bottom. We also have the CBD and THC arrows moving slightly
   upon scrolling to their final position. The same goes for the arrow in the social section that is animated moving to
   the right when the user scrolls to that region. */
.reveal {
    transform  : translateY(150px);
    opacity    : 0;
    transition : 2s all ease;
}

.reveal.active {
    transform : translateY(0);
    opacity   : 100;
}

.delayCbd {
    transform  : translateY(250px);
    opacity    : 0;
    transition : 2s all ease;
}

.delayCbd.active {
    transform : translateY(0);
    opacity   : 100;
}

.delayThc {
    transform  : translateY(-150px);
    opacity    : 0;
    transition : 2s all ease;
}

.delayThc.active {
    transform : translateY(0);
    opacity   : 100;
}

.animateRightArrow {
    transform  : translateX(-150px);
    opacity    : 0;
    transition : 2s all ease;
}

.animateRightArrow.active {
    transform : translateX(0);
    opacity   : 100;
}

.delayMenuRollout{
    transform: translateY(-100%);
    opacity: 0;
}

.delayMenuRollout.active{
    transform: translateY(0);
    opacity: 100;
}

/* END Animations */