@font-face {
    font-family : "Raleway";
    src         : url('../fonts/Raleway-Thin.ttf');
    font-weight : 100;
}

@font-face {
    font-family : "Raleway";
    src         : url('../fonts/Raleway-Light.ttf');
    font-weight : 200;
}

@font-face {
    font-family : "Raleway";
    src         : url('../fonts/Raleway-Regular.ttf');
    font-weight : 300;
}

@font-face {
    font-family : "Raleway";
    src         : url('../fonts/Raleway-Medium.ttf');
    font-weight : 400;
}

@font-face {
    font-family : "Raleway";
    src         : url('../fonts/Raleway-Bold.ttf');
    font-weight : 500;
}

@font-face {
    font-family : "Lato";
    src         : url('../fonts/Lato-Thin.ttf');
    font-weight : 100;
}

@font-face {
    font-family : "Lato";
    src         : url('../fonts/Lato-Light.ttf');
    font-weight : 200;
}

@font-face {
    font-family : "Lato";
    src         : url('../fonts/Lato-Regular.ttf');
    font-weight : 300;
}

@font-face {
    font-family : "Lato";
    src         : url('../fonts/Lato-Medium.ttf');
    font-weight : 400;
}

@font-face {
    font-family : "Lato";
    src         : url('../fonts/Lato-Bold.ttf');
    font-weight : 500;
}

@font-face {
    font-family : "Mono";
    src         : url('../fonts/JetBrainsMono-Regular.ttf');
    font-weight : 100;
}

@font-face {
    font-family : "Mono";
    src         : url('../fonts/JetBrainsMono-Medium.ttf');
    font-weight : 200;
}

/* We animate the cephalometric analysis on the home page. For this, we first define the necessary keyframes. We only
want for the animation to build up once, so we set a keyframe at 0% completion to zero opacity and the one at 100%
completion to 100% opacity. SVG Animation derived from: https://css-tricks.com/animating-svg-css/ */
@keyframes hideshow {
    0% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}

/* We want the lines in the image to expand, like they're drawn by hand. So we set the keyframes for this
animation to a dash-offset of 0, meaning, th eline will be without gaps.
Line Animation derived from: https://css-tricks.com/svg-line-animation-works/ */
@keyframes dash {
    to {
        stroke-dashoffset : 0;
    }
}

html {
    scroll-behavior : smooth;
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
}


:root {
    --background-color    : #1A1A1E;
    --accent-color-1      : #f0097e;
    --accent-color-2      : #41bdc1;
    --text-color-standard : #a6a6a6;
    --text-color-dimmed   : #7e7e7e;
    --white               : #ffffff;
    --strokeLength        : 705;
    --indicator-color     : #f0097e;
    --dark-accent         : #17171a;
}


/* General Styles ----------------------------------------------------------------------------------------------------*/
body {
    background-color : var(--background-color);
    color            : var(--text-color-standard);
    font-family      : Lato, sans-serif;
    font-weight      : 300;
}

/* To enable for the whole site to be centred on the page, we wrapped it in a div with class site. The styling for this
   div is set here. */
.site {
    width     : 100%;
    max-width : 1200px;
    margin    : 0 auto;
}

p {
    color         : var(--text-color-standard);
    font-size     : 20px;
    line-height   : 150%;
    margin-bottom : 80px;
}

h1 {
    color          : var(--accent-color-1);
    font-family    : Raleway, sans-serif;
    font-weight    : 300;
    font-size      : 30px;
    text-transform : uppercase;
    margin-bottom  : 80px;
    margin-top     : 20%;
}

/* As we use floats for styling, we define the clearfix selector to clear these floats afterwards to not influence
   subsequent elements.  */
.clearfix::after {
    content : "";
    clear   : both;
    display : table;
}

.button {
    background-color : var(--accent-color-1);
    color            : var(--background-color);
    border           : none;
    border-radius    : 0;
    width            : 150px;
    height           : 40px;
    cursor           : pointer;
}

.button:hover {
    background-color : var(--accent-color-2);
    color            : var(--background-color);
}

.highlight {
    color : var(--accent-color-1);
}

/* Logo Styles -------------------------------------------------------------------------------------------------*/

.logo {
    position         : fixed;
    height           : 90px;
    top              : 0;
    width            : 100%;
    background-color : var(--dark-accent);
    z-index          : 10;

}

.logoContainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logoImage {
    width  : 230px;
    margin : 20px 0 0 20px;
}


/* Nav Container Styles ----------------------------------------------------------------------------------------------*/

.navBg {
    width            : 90px;
    height           : 90px;
    background-color : var(--accent-color-1);
    position         : fixed;
    right            : 0;
    top              : 0;
    border-radius    : 0 0 0 100%;
    z-index          : 90;
}

.sidenavButton {
    font-size : 45px;
    cursor    : pointer;
    z-index   : 10;
    position  : fixed;
    right     : 35px;
    top       : 10px;
    width     : 30px;
    height    : 30px;
}

.sidenav {
    display          : flex;
    flex-direction   : column;
    height           : 100%;
    width            : 50%;
    position         : fixed;
    z-index          : 99;
    top              : 0;
    right            : 0;
    background-color : var(--accent-color-1);
    color            : var(--background-color);
    overflow-x       : hidden;
    transition       : 0.5s;
    padding-top      : 60px;
}

/* To be able to close the sidenav not only through the close button, but also when a user clicks a link in the nav, we
dynamically ass the following two classes with JS. They simply translate the sidenav container left or right. */
.sidenav.open {
    transition-duration : 0.5s;
    transform           : translateX(0%);
}

.sidenav.close {
    transition-duration : 0.5s;
    transform           : translateX(100%);
}

.navTop {
    flex : 0 0 40%;
}

.navMiddle {
    display        : flex;
    flex-direction : row;
    gap            : 20px;
    flex-wrap      : nowrap;
    flex           : 0 0 30%;
    padding-top    : 20px;
    border-top     : 1px solid var(--background-color);
}

.navBottom {
    flex        : 0 0 30%;
    padding-top : 20px;
    border-top  : 1px solid var(--background-color);
}

.sidenav ul {
    padding-left : 40px;
}

.sidenav li {
    list-style : none;
}

.sidenav a {
    padding         : 0 0 5px 0;
    text-decoration : none;
    font-size       : 1.2em;
    color           : var(--background-color);
    display         : block;
    transition      : 0.3s;

}

.sidenav a:hover {
    color : #f1f1f1;
}

.sidenav .closeButton {
    position    : absolute;
    top         : 0;
    right       : 25px;
    font-size   : 36px;
    margin-left : 50px;
    z-index     : 99;
}

.address, .partners {
    color : var(--background-color);
    flex  : 0 0 50%;
}

.address h3, .partners h3 {
    margin-bottom : 10px;
}

.address h3 {
    margin-left : 40px;
}

.address ul {
    padding-left : 40px;
}

.address li {
    list-style    : none;
    margin-bottom : 2px;
}

.address li.phone {
    margin-top : 10px;
}

.partnerLogo {
    height        : 30px;
    margin-bottom : 20px;
    /*flex: 0 0 10%;*/
}

.logoContainer {
    display        : flex;
    flex-direction : column;
    align-items    : start;
    gap            : 20px;
}

.contactDetailsContainer {
    display         : flex;
    align-items     : center;
    margin          : 0 40px;
    justify-content : start;
    gap             : 20%;
}

.contactDetails h4 {
    font-size     : 1em;
    margin-bottom : 0;
}

.contactDetails p {
    margin-bottom : 10px;
}

.contactDetails a {
    font-size   : 0.7em;
    font-family : Mono, sans-serif;
    /* flex        : 0 0 15%;*/
}

/* END Nav Container Styles ------------------------------------------------------------------------------------------*/


/* SVG Selectors ---------------------------------------------------------------------------------------------------- */

.cls-1 {
    stroke       : #f0097e;
    stroke-width : 3px;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
    fill              : none;
    stroke-miterlimit : 10;
}

.cls-6 {
    font-size : 26px;
}

.cls-6, .cls-7 {
    fill        : #a6a6a6;
    font-family : ArialMT, Arial, sans-serif;
}

.cls-2 {
    stroke-dasharray : 0 0 1 3.99;
}

.cls-2, .cls-3 {
    stroke-linecap : round;
}

.cls-2, .cls-3, .cls-4, .cls-5 {
    stroke       : #a6a6a6;
    stroke-width : 2px;
}

.cls-7 {
    font-size : 20px;
}

.cls-5 {
    stroke-dasharray : 0 0 8.03 3.01;
}

/* END SVG Selectors ------------------------------------------------------------------------------------------------ */

/* Here we adjust the color of the full-page page indicator to match the theme. */
/* #fp-nav ul li a span, .fp-slidesNav ul li a span {
    background : var(--accent-color-1);
} */


/* General Layout Selectors ----------------------------------------------------------------------------------------- */
.section {
    height : 100vh;
}

.container {
    width           : 100%;
    height          : 100%;
    padding         : 0 20px;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : flex-start;
    gap             : 40px;
}

.left {
    position   : relative;
    order      : 1;
    flex-basis : 55%;
    /*   background-color : #0d6efd; */
}

.right {
    position   : relative;
    order      : 2;
    flex-basis : 40%;
    flex-grow  : 2;
    /* background-color : #2c0b0e; */
}

.break {
    order   : 3;
    height  : 0;
    width   : 0;
    display : none;
}

.buttonContainer {
    order   : 4;
    display : none;
}

.showcaseImage {
    width : 100%;
}

.right.grid {
    display               : grid;
    grid-template-columns : 1fr;
    grid-template-rows    : auto;
}

.layerImage {
    grid-area : 1/1/2/2;
    width     : 100%;
}

.layerImage.first {
    width       : 90%;
    margin-top  : 0;
    margin-left : 0;
}

.layerImage.second {
    width       : 70%;
    margin-top  : 0;
    margin-left : 0;
}

.layerImage.third {
    width       : 40%;
    margin-left : 50%;
    margin-top  : 15%;
}

/* .imageContainer {
    position  : absolute;
    right     : 10%;
    top       : 50%;
    transform : translateY(-50%);
} */


.imageLayerContainer {
    position : relative;
}

.layer0 {
    z-index  : 0;
    position : absolute;
}

.layer1 {
    position : absolute;
    z-index  : 1;
}

.layer2 {
    position : absolute;
    width    : 57%;
    z-index  : 2;
    left     : 33px;
    top      : -3px;
}


/* Now we can animate the skin, bones and teeth of the drawing by setting the animation property for these classes. */
/*.skin, .bones, .teeth {
    animation : hideshow 3s ease-in forwards;
}*/

/* The lines are animated similarly, just that we set a delay, so the animation only starts when the previous animation
has finished. */
.animateLines {
    stroke-dasharray  : var(--strokeLength);
    stroke-dashoffset : var(--strokeLength);
    animation         : dash 1s linear forwards;
    animation-delay   : 3s;
}

/* At last, we want the text to appear. Therefore we set its opacity first to zero and then animate the appearance with
a delay and a short animation time, so that it appears almost instantly. */
.text {
    opacity   : 0;
    animation : hideshow 0.5s 4s ease forwards;
}

/* Form Styling ----------------------------------------------------------------------------------------------------- */

.s8 {
height: 100%;
}

.s8 .container {
    align-items : flex-end;
}

.noShow {
    display : none;
}

form {
     width    : 100%;
}

input {
    width            : 100%;
    height           : 50px;
    color            : var(--white);
    border           : 2px solid var(--accent-color-1);
    margin-bottom    : 40px;
    background-color : var(--background-color);
}

.submit {
    background-color : var(--accent-color-1);
    width            : 100%;
    height           : 50px;
    color            : var(--background-color);
    border           : none;
    font-family      : Lato, sans-serif;
    font-weight      : 500;
    text-transform   : uppercase;
    margin-bottom    : 20px;
    font-size        : 1.2em;
    cursor           : pointer;
}

.submit:hover {
    background-color : var(--accent-color-2);
}

.links {
    width    : 60%;
}

.link {
    height : 50px;
}

.link p {
    border-bottom : 2px solid var(--accent-color-1);
}


/* Form Placeholder Styles------------------------------------------------------------------------------------------- */


::-webkit-input-placeholder { /* Edge */
    color : var(--text-color-standard);
    text-transform : uppercase !important;
    padding-left   : 20px !important;
    font-size      : 1.5em;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color : var(--text-color-standard);
    text-transform : uppercase !important;
    padding-left   : 20px !important;
    font-size      : 1.5em;
}

::placeholder {
    color          : var(--text-color-standard);
    text-transform : uppercase !important;
    padding-left   : 20px !important;
    font-size      : 1.5em;
}

/* Media Queries ---------------------------------------------------------------------------------------------------- */

@media screen and (max-width : 1190px) {
    /*     .contactDetailsContainer {
            display        : flex;
            flex-direction : column;
            align-items    : start;
            gap            : 0;
        } */
}

@media screen and (max-width : 850px) {

    /* Navigation breaks here. */
}


@media screen and (max-width : 839px) {

    .section {
        margin-bottom : 10%;
    }

    .section.s1 {
        margin-top : 40%;
    }

    .container {
        flex-direction : column;
    }

    .left {
        flex  : 0 0 20%;
        order : 2;
    }

    .left h1, .left p {
        text-align : center;
    }

    .left h1 {
        margin-top : 5%;
    }

    .left .button {
        display : block;
        margin  : 0 auto;
    }

    .right {
        flex  : 0 0 40%;
        order : 1;
    }

    img.showcaseImage {
        display : block;
        width   : 50%;
        margin  : 0 auto;
    }

    .s8 .container {
        flex-direction : row;
    }

    .s8 .left {
        order : 1;
        flex  : 0 0 50%;
    }

    .s8 .right {
        order : 2;
        flex  : 0 0 50%;
    }

    .s8 .left .links {
        width : 75%;
    }

    .s8 .right form {
        width : 90%;
    }
}

@media screen and (max-width : 660px) {
    .s8 .container {
        flex-direction : column;
        align-content  : center;
        align-items    : center;
        gap            : 40px;
    }

    .s8 .left {
        order : 1;
    }

    .s8 .left .links {
        position : relative;
    }

    .s8 .right {
        order : 2;
    }

    .s8 .left .links {
        width : 80%;
    }

    .s8 .right form {
        position : relative;
    }
}

@media screen and (max-width : 660px) {

    /* Contact form falls apart */

}


