.about-section {
  margin-top : 80px;

  .about-container {
    position         : relative;
    padding          : 3rem;
    border-radius    : 15px;
    background-color : var(--highlight-color-500);
    color            : var(--text-color-light-grey);

    .self {
      width          : 100%;
      position       : absolute;
      display        : flex;
      flex-direction : column;
      align-items    : center;
      left           : 50%;
      top            : -15%;
      transform      : translateX(-50%);
      margin-bottom  : 40px;

      .self-image {
        width         : 10rem;
        border-radius : 50%;
        border        : 5px solid var(--brand-color-500);
        z-index       : 2;
      }

      h3 {
        margin-top     : 10px;
        color          : var(--white);
        text-transform : uppercase;
      }
    }

    .overview {
      margin-bottom : 40px;
      margin-top    : 80px;

      .skills-display {
        display       : flex;
        align-items   : center;
        gap           : 5px;
        margin-bottom : 10px;
      }
    }

    .inner-link-button-container {
      width      : 100%;
      margin     : 40px auto 0 auto;
      text-align : center;

      .inner-link-button {
        background-color : var(--brand-color);
        color            : var(--white);
      }
    }

  }
}


.offset {
  margin : -4px 5px 0 0;
}

.emphasis {
  color : var(--brand-color-500);
}

.cursor {
  display   : inline-block;
  width     : 1ch;
  animation : blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity : 0;
  }
  50% {
    opacity : 1;
  }
}

@media screen and (max-width : 430px) {
  .about-section {
    .about-container {
      padding : 1rem;

      .self {
        top : -18%;
      }
    }
  }
}

@media screen and (max-width : 380px) {
  .about-section {
    .about-container {
      padding : 1rem;

      .self {
        top : -15%;
      }
    }
  }
}