#contact {

  .contact-section {
    width          : 100%;
    display        : flex;
    flex-direction : column;


    .contact-container {
      width            : 100%;
      display          : flex;
      flex-direction   : row;
      flex-wrap        : nowrap;
      justify-content  : space-between;
      align-items      : center;
      background-color : var(--highlight-color-500);
      border-radius    : 15px;
      padding          : 3rem 8rem;

      .contact-form-left,
      .contact-form-right {
        width           : 50%;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        padding         : 1rem;
      }

      h2 {
        color         : var(--text-color-grey);
        margin-bottom : 20px;
        text-align    : left;
        font-size: 2.25rem;
        letter-spacing: .1em;
      }

      p {
        font-size : 1rem;
        color     : var(--text-color-grey);
      }


      .direct-contact {
        color         : var(--text-color-grey);
        margin-bottom : 20px;

        a {
          color : var(--text-color-grey);
        }

        .offset {
          margin : -4px 15px 0 0;
        }
      }
    }


  }

  .contact-form-right {
    form {
      width          : 100%;
      display        : flex;
      flex-direction : column;
      gap            : 1.5rem;

      input,
      textarea {
        width: 100%;
        border-radius: 0.5rem;
        padding: 0.75rem;
        color: var(--white);
        background-color: var(--text-color-grey);
      }

      button{
        width: 100%;
        padding: 0.75rem;
        background-color: var(--blue);
        color: var(--white);
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      button:hover{
        background-color: var(--blue-hover);
      }
    }

  }
}

