.education-section {

  .education-container {
    display          : flex;
    flex-wrap        : nowrap;
    flex-direction   : column;
    gap              : 1rem;
    background-color : var(--highlight-color-500);
    padding          : 2rem;
    border-radius    : 15px;

    .education {
      margin-left   : 20px;
      margin-bottom : -16px;
      border-left   : 1px solid var(--text-color-grey);

      h3 {
        margin-top  : 10px;
        margin-left : 18px;
        color       : var(--background-color-100);
        font-size   : 1.2rem;
      }

      h4 {
        color         : var(--brand-color-300);
        font-size     : 1rem;
        margin-bottom : 0;
        margin-top    : -5px;
      }

      .education-title {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        margin-left    : -8px;

        .circle {
          margin-top       : -5px;
          margin-right     : 10px;
          color            : var(--brand-color-300);
          background-color : var(--background-color-500);
        }
      }

      p {
        color         : var(--white);
        margin-left   : 18px;
        margin-bottom : 3rem;
      }

    }
  }
}