.app-header {
  background    : var(--navbar-color);
  position      : fixed;
  top           : 0;
  right         : 0;
  left          : 0;
  height        : var(--app-header-height);
  color         : var(--brand-colour);
  display       : flex;
  z-index       : 9;
  //box-shadow  : 4px 0 10px rgba(94, 234, 212,0.5);
  align-items   : center;
  padding       : 0 20px;

  .app-header-main {
    flex-grow       : 1;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
  }

  h2 {
    margin-top : 5px;
  }

  .app-logo {
    display     : flex;
    align-items : center;
  }

  .app-header-main::slotted(h1) {
    color : var(--white);
  }

  .app-logo a {
    color           : #fff;
    text-decoration : none;
    font-weight     : bold;
    font-size       : 1.2em;
    padding         : .6em;
    display         : inline-block;
  }

  .app-logo img {
    width        : 30px;
    margin-right : 20px;
  }

  .hamburger-btn::part(base) {
    color      : var(--white);
    margin-top : -5px;
  }
}


/* ------------------------------------------------------------------------------------------------------------------ */
/*                                               Side Nav styles                                                    */
/* ------------------------------------------------------------------------------------------------------------------ */

/* The navigation is a full-height side navigation that extends into the screen depending on the viewport width. On wide
screens the navigation extends 50%, on medium screen 80% and on small screens 100%. This behaviour is controlled by
JavaScript that check te viewport width upon clicking the hamburger menu button. If the user clicks on a link, we
dynamically add the open and close selectors below.*/

/* The sidenavButton selector styles the 'x' to close the side navigation. */
.sidenavButton {
  font-size : 45px;
  cursor    : pointer;
  z-index   : 10;
  position  : fixed;
  right     : 35px;
  top       : 10px;
  width     : 30px;
  height    : 30px;
}

/* All sidenav related selectors are responsible to style the side navigation. */
.sidenav {
  display          : flex;
  flex-direction   : column;
  height           : 100%;
  width            : 30%;
  position         : fixed;
  z-index          : 99;
  top              : 0;
  right            : 0;
  background-color : var(--navbar-color);
  color            : var(--white);
  overflow-x       : hidden;
  transition       : 0.5s;
  padding-top      : 60px;
}

/* To be able to close the sidenav not only through the close button, but also when a user clicks a link in the nav, we
dynamically add the following two classes with JS. They simply translate the sidenav container left or right. */
/* .sidenav.open {
    transition-duration : 0.5s;
    transform           : translateX(0%);
} */

.sidenav.close {
  transition-duration : 0.3s;
  transform           : translateX(100%);
}

/* The following are general styles for the navigation. */

.sidenav ul {
  margin-left : -30px;
}
.sidenav li {
  list-style : none;
}

.sidenav a {
  padding         : 5px 0 10px 30px;
  text-decoration : none;
  font-size       : 1.2em;
  color           : var(--background-color);
  display         : block;
  transition      : 0.3s;
  cursor          : pointer;
}

.sidenav a:hover {
  color : var(--background-color);
  background-color: var(--brand-color-700)
}

.sidenav li.navLink {
  margin-bottom : 0;
  font-size     : 1.2em;
}

.sidenav .closeButton {
  color: var(--brand-color);
  position  : absolute;
  top       : -50px;
  right     : 25px;
  font-size : 36px;
  z-index   : 99;
  cursor    : pointer;
}

.sidenav .closeButton:hover {
  background-color : var(--navbar-color) !important;
  color: var(--white);
}

/* The navigation consists of three sections, navTop, navMiddle and navBottom. */
.navTop {
  flex     : 0 0 38%;
  position : relative;
}

@media screen and (max-width : 810px) {
  .sidenav {
    width            : 50%;

    a {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width : 460px) {
  .sidenav {
    width            : 80%;
  }
}