// Main styles

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Neucha&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing : border-box;
}

html {
  scroll-behavior : smooth;
}

body {
  padding     : 0;
  margin      : 0;
  font-family : var(--font-family), serif;
  font-weight : 300;
  height      : 100vh;
}

#root {
  position         : absolute;
  top              : 0;
  bottom           : 0;
  left             : 0;
  right            : 0;
  overflow         : hidden;
  background-color : var(--background-color);
  color            : var(--text-color);
}

.page-content {
  position   : absolute;
  top        : var(--app-header-height);
  left       : 0;
  right      : 0;
  bottom     : 0;
  overflow-y : scroll;
  color: var(--white)
}

.content-container {
  width     : 100%;
  max-width : 1200px;
  margin    : 0 auto;
}

#home, #about, #skills, #education, #portfolio, #contact {
  // background-color : var(--highlight-color-500);
  padding    : 20px;
  width      : 100%;
  max-width  : 1200px;
  margin     : 100px auto;
  min-height : 100%;

  h1 {
    color : var(--white);
  }

  h2{
    text-align : center;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

}
