#portfolio {

  .portfolio-section {
    width           : 100%;
    display: flex;
    flex-direction: column;


    .portfolio-container {
      width           : 100%;
      display         : flex;
      flex-direction  : row;
      flex-wrap       : wrap;
      justify-content : center;
      align-items     : center;
    }

    .portfolio-item {
      width            : 350px;
      height: 355px;
      display          : flex;
      flex-direction   : column;
      align-items      : center;
      justify-content  : center;
      font-size        : 0.875rem;
      background-color : var(--highlight-color-500);
      margin           : 1rem;
      padding          : 1rem;
      //border         : 1px solid #ccc;
      border-radius    : 5px;

      h2 {
        text-align    : center;
        color         : var(--white);
        margin-bottom : 20px;
      }

      h3{
        font-size: 1.2rem;
        color: var(--white);
        text-align: center;
      }

      .technology {
        width           : 100%;
        display         : flex;
        justify-content : center;
        align-items     : center;
        margin          : 0.5rem;
        flex-wrap       : wrap;

        .tech-item {
          font-size        : 0.75rem;
          text-align       : center;
          width            : 80px;
          display          : inline-block;
          background-color : rgb(19, 78, 74, .5); //rgba(94, 234, 212, 0.2);;
          border-radius    : 9999px;
          //border           : 1px solid var(--brand-color);
          color            : rgba(94, 234, 212, 1); //var(--brand-color);
          padding          : 5px;
          margin           : 5px 5px 0 5px;
        }
      }

      .showcase-image-container {
        margin : 0 auto 20px auto;
        width  : 150px;
        height : 150px;

        .showcase-image {
          width  : 100%;
          height : 100%;
          border : 1px solid #ccc;
        }
      }
    }
  }


}

