
  .portfolio-section {
    width          : 100%;
    display        : flex;
    flex-direction : column;


    .portfolio-container {
      width           : 100%;
      display         : flex;
      flex-direction  : row;
      flex-wrap       : wrap;
      justify-content : center;
      align-items     : center;
    }

    .portfolio-item {
      width            : 350px;
      height           : 355px;
      display          : flex;
      flex-direction   : column;
      align-items      : center;
      justify-content  : center;
      font-size        : 0.875rem;
      background-color : var(--highlight-color-500);
      margin           : 1rem;
      padding          : 1rem;
      border-radius    : 5px;

      .portfolio-item-title {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        .git-icon,
        .link-icon {
          margin-top: -5px;
          font-size: 1.1rem;
        }

        .link-icon {
          color: var(--brand-color-200);
          margin-left: 10px;
        }

        .link-icon:hover {
          color: var(--brand-color-500);
          cursor: pointer;
        }



        h3 {
        font-size  : 1.1rem;
        color      : var(--white);
      }
      }

      h2 {
        text-align    : center;
        color         : var(--white);
        margin-bottom : 20px;
      }



      .technology {
        width           : 100%;
        display         : flex;
        justify-content : flex-start;
        align-items     : center;
        margin          : 1rem 0 0 0;
        flex-wrap       : wrap;

        .tech-item {
          font-size        : 0.75rem;
          text-align       : center;
          display          : inline-block;
          background-color : rgb(17, 76, 215, 0.3);
          border-radius    : 10px;
          //border           : 1px solid var(--brand-color);
          color            : var(--highlight-colour-200);
          padding          : 8px;
          margin           : 5px 5px 0 0;
        }
      }

      .showcase-image-container {
        margin : 0 auto 20px auto;
        width  : 150px;
        height : 150px;

        .showcase-image {
          width  : 100%;
          height : 100%;
          border : 1px solid #ccc;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .portfolio-section {
      .portfolio-item {
        width            : 45%;
      }
    }
  }

  @media screen and (max-width: 680px) {
    .portfolio-section {
      .portfolio-item {
        width            : 100%;
      }
    }
  }

