// Import SCSS files
@use './styles/vars.scss';
@use './styles/header.scss';
@use './styles/main.scss';
@use './styles/to-top-btn.scss';
@use './styles/nav.scss';
@use './styles/portfolio';
@use './styles/portfolio_detail.scss';
@use './styles/about.scss';
@use './styles/skills.scss';
@use './styles/education.scss';
@use './styles/contact.scss';